studio-workspace7.5 new/error-handling-demo/src/main/mule/raise-error-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="49da30f0-512b-422a-a78a-12e984ca54e9" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="f4c47a8e-7a5a-49fe-9b3f-3bff9284a94d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="gecho709291" database="employees_database"/>
	</db:config>
	<sub-flow name="fecth-emp-name" doc:id="c8ad0c2f-4cc2-4157-8022-4cad0bc80253" >
		<db:select doc:name="Select" doc:id="8c631576-aa0c-4793-a47c-ca51a524963b" config-ref="Database_Config1">
			<db:sql><![CDATA[SELECT id, name, dept, grade, address FROM employees_tbl where  id= :id]]></db:sql>
			<db:input-parameters><![CDATA[#[id:attributes.queryParams.id]]]></db:input-parameters>
		</db:select>
	</sub-flow>
	<flow name="raise-error-demo" doc:id="f5046fbe-35fe-464d-bdb4-a11c1392c65d" >
		<http:listener doc:name="Listener" doc:id="6092a299-4864-430e-adb7-c87b60eeae10" config-ref="HTTP_Listener_config2" path="/emp_id" >
			<http:error-response statusCode="#[vars.statusCode]" reasonPhrase="#[vars.reasonPhrase]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="7d80391e-6d38-4db5-9070-3a413980009d" value="#[attributes.queryParams.id]" message="Id should be a number" />
		<flow-ref doc:name="fecth-emp-name" doc:id="75829f5b-26ae-4c85-97c5-418e269c8b77" name="fecth-emp-name" />
		<choice doc:name="Choice" doc:id="47df2e3b-f3ca-4fe8-b4f8-121498dbcfa3" >
			<when expression="#[sizeOf(payload) &gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="3cd11c03-922e-4588-84eb-fbde51e675b0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	{
	"id": payload.id[0],
	"name": payload.name[0],
	"dept": payload.dept[0],
	"grade": payload.grade[0],
	"address": payload.address[0] 
	
}
	
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="053bb139-90dc-43b9-b560-812cff27d3a2" type="EMP:EMPLOYEE_NOT_FOUND"/>
			</otherwise>
		</choice>
	</flow>
</mule>
