studio-workspace7.5 new/insert-csv-to-database/src/main/mule/insert-csv-to-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1cc4a5ab-6fe7-41f2-800a-011fc19cb598" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f042443c-48a9-469d-974e-e287aa644102" file="dev.properties" />
	<global-property doc:name="Global Property" doc:id="7b98234d-ff49-4f8d-a8b4-925b6e82e02b" name="dev-config" value="dev" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="52273619-daee-4563-b62f-0ad88ad48e16" >
		<db:my-sql-connection host="${db.Host}" port="${db.Port}" user="${db.User}" password="${db.Password}" database="students_database" />
	</db:config>
	<flow name="insert-csv-to-databaseFlow" doc:id="de321b66-b95b-4152-953b-58ad4b3f72d2" >
		<http:listener doc:name="Listener" doc:id="1307a184-8c80-4fcd-a540-43d812001189" config-ref="HTTP_Listener_config" path="/csv"/>
		<ee:transform doc:name="Transform Message" doc:id="25318f73-e53b-4559-a31e-2d776c25d350" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
	id: $.id as Number,
	name: $.name,
	dept: $.dept,
	age: $.age as Number,
	gender: $.gender
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="ddfdd25b-4098-432a-b704-8e42411ac1dc" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into students_tbl (id ,  name, dept,  age,  gender) values(:id , :name , :dept, :age, :gender);]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="96b9e22c-01c6-4fc6-bd9b-489e05dfc93e" message="#[payload]"/>
	</flow>
</mule>
