studio-workspace7.5 new/reduce-example/src/main/mule/reduce-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3944ba3b-ff67-4b71-b4a8-51c57387cb16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="reduce-exampleFlow" doc:id="63bb643b-ceb7-4de1-9c87-0470eb228243" >
		<http:listener doc:name="Listener" doc:id="f4b844f7-5f2c-4b60-afc1-56e82dd07476" config-ref="HTTP_Listener_config" path="/reduce"/>
		<ee:transform doc:name="Transform Message" doc:id="c0243ab9-09c0-4afc-aa5e-f0bc97b58806" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	orders: payload.orders map (data,index)  -> 
	{
		orderId: data.id,
		customerName: data.customers.name,
		totalItems: data.order.purchasedItems.qty reduce($ + $$),
		orderAmount: data.order.purchasedItems reduce (item,sum=0) ->(sum + item.qty*item.rate),
		itemsPurchased: data.order.purchasedItems.SKU reduce ($ ++ "," ++ $$)
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
